.jlico-facebook {background: url("/modules/mod_jlgrouppro/css/facebook.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-vk {background: url("/modules/mod_jlgrouppro/css/vk.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-google {background: url("/modules/mod_jlgrouppro/css/google.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-ok {background: url("/modules/mod_jlgrouppro/css/ok.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-twitter {background: url("/modules/mod_jlgrouppro/css/twitter.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
* {
	margin:0;
	padding:0;
	color:#222;
}

.jlgroupprocustom {
padding-top: 40px;
}

div[class*=csstabs] {
	background:#fff;
	width:100%;
	position:relative;
}

[class*=tab1-], [class*=tab2-], [class*=tab3-], [class*=tab4-], [class*=tab5-] {
	height:30px;
	position:absolute;
	top:-30px;
	background:#ddd;
	line-height:30px;
	padding:0 5px;
	cursor:pointer;
}

	[class*=tab1-] {
		width:40px;
		left:0;
	}
	[class*=tab2-] {
		width:40px;
		left:60px;
	}
	[class*=tab3-] {
		width:40px;
		left:120px;
	}
	[class*=tab4-] {
		width:40px;
		left:180px;
	}
	[class*=tab5-] {
		width:40px;
		left:240px;
	}


div[class*=csstabs] input {
	display:none;
}
div[class*=csstabs] input + * {
	width:100%;

	display:none;
}
div[class*=csstabs] input:checked + * {
	display:block;
	position:relative;
	padding-top:15px;
}
div[class*=csstabs] input:checked + * *:first-child {
	background:#F0F0F0;
	cursor:default;
}

