.jlico-facebook {background: url("/modules/mod_jlgrouppro/css/facebook.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-vk {background: url("/modules/mod_jlgrouppro/css/vk.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-google {background: url("/modules/mod_jlgrouppro/css/google.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-ok {background: url("/modules/mod_jlgrouppro/css/ok.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
.jlico-twitter {background: url("/modules/mod_jlgrouppro/css/twitter.png")  no-repeat local 0 2px rgba(0, 0, 0, 0);display: inline-block;height: 14px;width: 12px;}
* {
	margin:0;
	padding:0;
}

.jlgroupprocustom {
	padding-top: 40px;
}

div[class*=csstabs] {
	background:#fff;
	width:100%;
	position:relative;
}

[class*=jltab1-], [class*=jltab2-], [class*=jltab3-], [class*=jltab4-], [class*=jltab5-] {
	height:30px;
	position:absolute;
	top:-30px;
	background:#ddd;
	line-height:30px;
	padding:0 5px;
	cursor:pointer;
	font-size: 12px;
}

	[class*=jltab1-] {
		width:45px;
		left:0;
	}
	[class*=jltab2-] {
		width:45px;
		left:60px;
	}
	[class*=jltab3-] {
		width:45px;
		left:120px;
	}
	[class*=jltab4-] {
		width:45px;
		left:180px;
	}
	[class*=jltab5-] {
		width:45px;
		left:240px;
	}


div[class*=csstabs] input {
	display:none;
}
div[class*=csstabs] input + * {
	width:100%;

	display:none;
}
div[class*=csstabs] input:checked + * {
	display:block;
	position:relative;
	padding-top:15px;
}
div[class*=csstabs] input:checked + * *:first-child {
	background:#F0F0F0;
	cursor:default;
}

